<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css" type="text/css" charset="utf-8">
    <script src="/js/MapAPI.js"></script>
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="application/javascript">
        window.onload = function () {
            var comment_login = window.localStorage.getItem("comment_login");
            //从community.js获取传进来的标识，如果是，则加载登录后销毁
            if (comment_login == "true") {
                window.open('','_self','');
                window.close();
                window.localStorage.removeItem("comment_login");
            }
        }
    </script>
</head>
<body>
<div th:insert="~{head :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发布</h2>
            <hr>
            <div class="media" th:each="q:${pagenation.questionDTO}">
                <div class="media-left">
                    <a href="#">
                        <img class="img-circle media-object" th:src="${q.user.getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a th:href="@{'question/'+${q.id}}" th:text="${q.getTitle()}"></a></h4>
                    <span th:text="${q.getDescription()}"></span><br>
                    <span class="test-desc">
                        <span th:text="${q.getCommentCount()}"></span>个评论
                        <span th:text="${q.getViewCount()}"></span>个浏览
                        <span th:text="${q.getLikeCount()}"></span>个关注
                        <span th:text="${#dates.format(q.getGmtCreate(),'dd MMMM yyyy')}"></span>
                   </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a th:if="${pagenation.showfirst==true}" th:href="@{/(page=1)}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${pagenation.showprevious==true}" th:href="@{/(page=${pagenation.page}-1)}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagenation.pages}" th:class="${pagenation.page==page}?'active':''"><a
                            th:href="@{/(page=${page})}" th:text="${page}"></a></li>
                    <li>
                        <a th:if="${pagenation.shownext==true}" th:href="@{/(page=${pagenation.page}+1)}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:if="${pagenation.showend==true}" th:href="@{/(page=${pagenation.totalpage})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">免费域名注册</li>
                <li class="list-group-item">免费 Window 空间托管</li>
                <li class="list-group-item"><a onclick="api()">获取地址</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>